.container{
	display: flex;
	flex-direction: row;
	padding : 10px
}


.profile > img{
	height: 150px;
	width: 150px;
}

.profile{
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.skillcontainer {
        background-color: lightblue;
        width: 410px;
        
    }
  
    .skill {
        background-color: darkcyan;
        color: white;
        padding: 1%;
        
    }
  
    .html {
        width: 300px;
    }
  
    .node {
        width: 380px;
    }

.aboutme > h1{
	text-decoration: underline;
	text-decoration-color: darkcyan;
	text-underline-offset: 10px;
}
